* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0c65e7;
}

.error{
  color: #DC3545;
}

.form-check-input{
  margin-left: 15px !important;
}

.create-quizBtn,
.take-quizBtn{
  width: 200px;
}